@import url("./fonts.css");

:root {
  --wave-img: url("../assets/img/wave-1.jpg")
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
}

h1 {
  font-family: "Monument Extended";
  font-weight: 800;
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
}

section.hero-container {
  container: hero-container / inline-size;
}

.hero {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)),
    var(--wave-img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.background {
  filter: contrast(130%);
  justify-content: center;

  >h1 {
    text-align: center;
    color: black;

    /* &:nth-of-type(2) {
      display: none;
    } */

    &::selection {
      color: white;
      background-color: black;
    }
  }
}

.foreground {
  position: absolute;
  /* Clip path from top left to bottom right */
  /* clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0); */
  /* Clip path from bottom left to top right */
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  background-image: var(--wave-img), var(--wave-img), var(--wave-img);
  background-size: cover;
  background-position: calc(50% - 1px) calc(50% - 1px), calc(50% + 1px) calc(50% + 1px), center;
  background-blend-mode: color, difference;
  filter: brightness(4.5);
  color: white;
  justify-content: center;

  >h1 {


    /* &:nth-of-type(1) {
      display: none;
    } */

    &::selection {
      background: white;
      color: black;
    }
  }
}

/* Container Queries */
@container hero-container (max-width: 1800px) {
  h1 {
    text-align: center;
    font-size: 2rem;
  }
}

@container hero-container (max-width: 760px) {
  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 1px 0;
  }

  .hero {
    height: 100vh;
  }

  .foreground {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }
}

@container hero-container (max-width: 570px) {
  h1 {
    font-size: 1.25rem;
  }
}